@font-face {
    font-family: "Montserrat";
    src: url("../../../public/fonts/Montserrat-Medium.ttf")
    format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat-Medium";
    src: url("../../../public/fonts/Montserrat-Medium.ttf")
    format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat-Bold";
    src: url("../../../public/fonts/Montserrat-Bold.ttf")
    format("truetype");
    font-weight: 600;
    font-style: normal;
}

body {
    border: 1px solid #e5e7eb;
    height: 100vh;
    width: 100vw;
    background: #f3f4f6;
    font-family: "TTHovesPro", sans-serif;
    font-weight: normal;
}

.notification {
    padding: 16px;
    border-radius: 6px;
    border: 1px;
    display: flex;
    flex-direction: column;
    background: #ffffff;
    box-shadow: 0px 1px 2px 0px #00000014;
}

.notification--success {
    border: 1px solid #66e7c6;
    color: #00ac80;
}

.notification--warning {
    border: 1px solid #ffa2a2;
    color: #ff6464;
}

.notification--avatar {
    color: #6b7280;
    background: #ffffff;
}

.notification__message-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10px;
    align-items: center;
}

.notification__message-wrapper > svg:last-of-type {
    cursor: pointer;
}

.notification__message {
    flex-grow: 1;
    width: 100%;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
}

.notification__message--avatar {
    color: #111928;
}

.notification__description {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    margin-block: 6px;
}

.notification__action {
    padding: 4px 12px 4px 12px;
    border-radius: 100px;
    width: fit-content;
    border: 1px solid #000000;
    color: #ffffff;
    font-size: 12px;
    line-height: 18px;
    font-family: "TTHovesPro", sans-serif;
    text-align: center;
    font-weight: 500;
    cursor: pointer;
}

.notification__action--success {
    background: #00ac80;
}

.notification__action--warning {
    background: #ff6464;
}

.notification__action--avatar {
    background: #ffff00;
    color: #112127;
}

.notification__wrapper-desc {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.notification__wrapper-desc--avatar {
    margin-left: 44px;
    margin-top: -12px;
}
